.table-name {
  color: #ff00ff;
  text-align: center;
}

h1 {
  text-align: center;
}

table {
  margin: 0 auto;
  width: 650px;
  border: 2px solid darkorchid;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html {
  background-color: beige;
}

th {
  background-color: plum;
}
